<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.SysDictDataMapper">

  <select id="page" resultType="com.ruoyi.system.domain.SysDictData">
    select sdd.* from sys_dict_data sdd
    <where>
      <if test="dictData.dictType != null and dictData.dictType != ''">
        and sdd.dict_type = #{dictData.dictType}
      </if>
      <if test="dictData.dictLabel != null and dictData.dictLabel != ''">
        and sdd.dict_label like concat('%', #{dictData.dictLabel}, '%')
      </if>
      <if test="dictData.status != null">
        and sdd.status = #{dictData.status}
      </if>
    </where>
  </select>
</mapper> 