<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.SysMenuMapper">

  <sql id="selectMenuVo">
    select menu_id,
           menu_name,
           parent_id,
           order_num,
           url,
           target,
           menu_type,
           visible,
           ifnull(perms, '') as perms,
           icon,
           create_by,
           create_time
    from sys_menu
  </sql>

  <sql id="selectMenuContactVo">
    select distinct m.menu_id,
                    m.parent_id,
                    m.menu_name,
                    m.url,
                    m.visible,
                    ifnull(m.perms, '') as perms,
                    m.target,
                    m.menu_type,
                    m.icon,
                    m.order_num,
                    m.create_time
    from sys_menu m
  </sql>

  <select id="listNormalByUser" resultType="com.ruoyi.system.domain.SysMenu">
    <include refid="selectMenuContactVo"/>
    left join sys_role_menu rm on m.menu_id = rm.menu_id
    left join sys_user_role ur on rm.role_id = ur.role_id
    LEFT JOIN sys_role ro on ur.role_id = ro.role_id
    where ur.user_id = #{userId}
    and m.menu_type in (1, 2)
    and m.visible = 0
    and ro.status = 0
    order by m.parent_id, m.order_num
  </select>

  <select id="listNormalAll" resultType="com.ruoyi.system.domain.SysMenu">
    <include refid="selectMenuContactVo"/>
    where m.menu_type in (1, 2)
    and m.visible = 0
    order by m.parent_id, m.order_num
  </select>

  <select id="listAllByUser" resultType="com.ruoyi.system.domain.SysMenu">
    <include refid="selectMenuContactVo"/>
    left join sys_role_menu rm on m.menu_id = rm.menu_id
    left join sys_user_role ur on rm.role_id = ur.role_id
    LEFT JOIN sys_role ro on ur.role_id = ro.role_id
    where ur.user_id = #{userId}
    order by m.parent_id, m.order_num
  </select>

  <select id="listPermsByUser" resultType="java.lang.String">
    select distinct m.perms
    from sys_menu m
           left join sys_role_menu rm on m.menu_id = rm.menu_id
           left join sys_user_role ur on rm.role_id = ur.role_id
           left join sys_role r on r.role_id = ur.role_id
    where m.visible = '0'
      and r.status = '0'
      and ur.user_id = #{userId}
  </select>

  <select id="listTree" resultType="java.lang.String">
    select concat(m.menu_id, ifnull(m.perms, '')) as perms
    from sys_menu m
           left join sys_role_menu rm on m.menu_id = rm.menu_id
    where rm.role_id = #{roleId}
    order by m.parent_id, m.order_num
  </select>

  <select id="list" resultType="com.ruoyi.system.domain.SysMenu">
    <include refid="selectMenuVo"/>
    <where>
      <if test="menuName != null and menuName != ''">
        and menu_name like concat('%', #{menuName}, '%')
      </if>
      <if test="visible != null and visible != ''">
        and visible = #{visible}
      </if>
    </where>
    order by parent_id, order_num
  </select>

  <select id="listByUser" resultType="com.ruoyi.system.domain.SysMenu">
    select distinct m.menu_id, m.parent_id, m.menu_name, m.url, m.visible, ifnull(m.perms,'') as perms, m.target, m.menu_type, m.icon, m.order_num, m.create_time
    from sys_menu m
    left join sys_role_menu rm on m.menu_id = rm.menu_id
    left join sys_user_role ur on rm.role_id = ur.role_id
    LEFT JOIN sys_role ro on ur.role_id = ro.role_id
    where ur.user_id = #{params.userId}
    <if test="menuName != null and menuName != ''">
      and m.menu_name like concat('%', #{menuName}, '%')
    </if>
    <if test="visible != null and visible != ''">
      and m.visible = #{visible}
    </if>
    order by m.parent_id, m.order_num
  </select>

  <select id="getById" resultType="com.ruoyi.system.domain.SysMenu">
    select t.*, (select menu_name from sys_menu where menu_id = t.parent_id) parent_name
    from sys_menu t
    where t.menu_id = #{menuId}
  </select>
</mapper> 