<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
  <th:block th:include="include :: header('修改用户')"/>
  <th:block th:include="include :: select2-css"/>
</head>
<body>
<div class="main-content">
  <form class="form-horizontal" id="form-user-edit">
    <input name="userId" type="hidden" th:value="${user?.userId}"/>
    <input name="deptId" type="hidden" th:value="${user?.deptId}" id="treeId"/>

    <h4 class="form-header h4">基本信息</h4>
    <div class="col-sm-6">
      <div class="form-group">
        <label class="col-sm-4 control-label is-required">用户名称：</label>
        <div class="col-sm-8">
          <input name="userName" placeholder="请输入用户名称" class="form-control" type="text" maxlength="30" th:value="${user?.userName}" required>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group">
        <label class="col-sm-4 control-label is-required">归属部门：</label>
        <div class="col-sm-8">
          <div class="input-group">
            <input class="form-control" type="text" name="deptName" onclick="selectDeptTree()" id="treeName" th:value="${user?.dept?.deptName}" required>
            <span class="input-group-addon"><i class="fa fa-search"></i></span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group">
        <label class="col-sm-4 control-label is-required">手机号码：</label>
        <div class="col-sm-8">
          <div class="input-group">
            <input name="phonenumber" placeholder="请输入手机号码" class="form-control" type="text" maxlength="11" th:value="${user?.phonenumber}" required>
            <span class="input-group-addon"><i class="fa fa-mobile"></i></span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group">
        <label class="col-sm-4 control-label is-required">邮箱：</label>
        <div class="col-sm-8">
          <div class="input-group">
            <input name="email" class="form-control email" type="text" maxlength="50" placeholder="请输入邮箱" th:value="${user?.email}" required>
            <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group">
        <label class="col-sm-4 control-label is-required">登录账号：</label>
        <div class="col-sm-8">
          <input name="loginName" class="form-control" type="text" th:readonly="${user?.userId}" th:value="${user?.loginName}" maxlength="30" required>
        </div>
      </div>
    </div>
    <div class="col-sm-6" th:if="${#strings.isEmpty(user?.userId)}">
      <div class="form-group">
        <label class="col-sm-4 control-label is-required">登录密码：</label>
        <div class="col-sm-8">
          <input name="password" placeholder="请输入登录密码" class="form-control" type="password" th:value="${@config.getKey('sys.user.initPassword')}" required>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group">
        <label class="col-sm-4 control-label">用户性别：</label>
        <div class="col-sm-8">
          <select name="sex" class="form-control" th:with="type=${@dict.getType('sys_user_sex')}">
            <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}" th:selected="${user?.sex} == ${dict.dictValue}"></option>
          </select>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group">
        <label class="col-sm-4 control-label">岗位：</label>
        <div class="col-sm-8">
          <select id="post" class="form-control select2-multiple" multiple>
            <option th:each="post:${posts}" th:value="${post.postId}" th:text="${post.postName}" th:disabled="${post.status == '1'}" th:selected="${post.flag}"></option>
          </select>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group">
        <label class="col-sm-4 control-label">用户状态：</label>
        <div class="col-sm-8">
          <label class="toggle-switch switch-solid">
            <input type="checkbox" id="status" th:checked="${user?.status} == '0' ? true : false">
            <span></span>
          </label>
        </div>
      </div>
    </div>
    <div class="col-sm-12">
      <div class="form-group">
        <label class="col-xs-2 control-label">角色：</label>
        <div class="col-xs-10">
          <label th:each="role: ${roles}" class="check-box">
            <input name="role" type="checkbox" th:value="${role.roleId}" th:text="${role.roleName}" th:disabled="${role.status == '1'}" th:checked="${role.flag}">
          </label>
        </div>
      </div>
    </div>

    <h4 class="form-header h4">其他信息</h4>
    <div class="col-sm-12">
      <div class="form-group">
        <label class="col-xs-2 control-label">备注：</label>
        <div class="col-xs-10">
          <textarea name="remark" maxlength="500" class="form-control" rows="3" th:text="${user?.remark}"></textarea>
        </div>
      </div>
    </div>
  </form>
</div>
<th:block th:include="include :: footer"/>
<th:block th:include="include :: select2-js"/>
<script type="text/javascript">
const prefix = ctx + "system/users",
  id = '[[${user?.userId}]]';

$("#form-user-edit").validate({
  onkeyup: false,
  rules: {
    password: {
      minlength: 5,
      maxlength: 20
    },
    email: {
      email: true,
      remote: {
        url: prefix + '/' + id + '/checkUnique',
        type: 'GET',
        dataType: 'json',
        data: {
          'email': function () {
            return $.common.trim($('#email').val());
          }
        },
        dataFilter: function (data, type) {
          return $.validate.unique(data);
        }
      }
    },
    phonenumber: {
      isPhone: true,
      remote: {
        url: prefix + '/' + id + '/checkUnique',
        type: 'GET',
        dataType: 'json',
        data: {
          'phonenumber': function () {
            return $.common.trim($('#phonenumber').val());
          }
        },
        dataFilter: function (data, type) {
          return $.validate.unique(data);
        }
      }
    },
  },
  messages: {
    'email': {
      remote: '邮箱已经存在'
    },
    'phonenumber': {
      remote: '手机号码已经存在'
    }
  },
  focusCleanup: true
});

function submitHandler() {
  var chrtype = [[${#strings.defaultString(@config.getKey('sys.account.chrtype'), 0)}]];
  var password = $("#password").val();
  if ($.validate.form() && checkpwd(chrtype, password)) {
    var data = $("#form-user-edit").serializeArray();
    var status = $("input[id='status']").is(':checked') == true ? 0 : 1;
    var roleIds = $.form.selectCheckeds("role");
    var postIds = $.form.selectSelects("post");
    data.push({ "name": "status", "value": status });
    data.push({ "name": "roleIds", "value": roleIds });
    data.push({ "name": "postIds", "value": postIds });
    let type = 'post', newPrefix = prefix;
    if (id) {
      type = 'put';
      newPrefix = newPrefix + "/" + id;
    }
    $.operate.save1(newPrefix, type, data);
  }
}

/*用户管理-修改-选择部门树*/
function selectDeptTree() {
  var deptId = $.common.isEmpty($("#treeId").val()) ? "100" : $("#treeId").val();
  var url = ctx + "system/dept/selectDeptTree/" + deptId;
  var options = {
    title: '选择部门',
    width: "380",
    url: url,
    callBack: doSubmit
  };
  $.modal.openOptions(options);
}

function doSubmit(index, layero) {
  var tree = layero.find("iframe")[0].contentWindow.$._tree;
  if ($.tree.notAllowParents(tree)) {
    var body = layer.getChildFrame('body', index);
    $("#treeId").val(body.find('#treeId').val());
    $("#treeName").val(body.find('#treeName').val());
    layer.close(index);
  }
}

$(() => {
  $('#post').select2({
    placeholder: "请选择岗位",
    allowClear: true
  });
})
</script>
</body>
</html>