<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wuyou.system.mapper.SysDeptMapper">

  <select id="listRoleDeptTree" resultType="java.lang.String">
    select concat(d.dept_id, d.dept_name) as dept_name
    from sys_dept d
           left join sys_role_dept rd on d.dept_id = rd.dept_id
    where d.del_flag = 0
      and rd.role_id = #{roleId}
    order by d.parent_id, d.order_num
  </select>

  <select id="page" resultType="com.wuyou.system.domain.SysDept">
    select * from sys_dept where del_flag = 0
    <if test="dept.parentId != null and dept.parentId > 0">
      and parent_id = #{dept.parentId}
    </if>
    <if test="dept.deptName != null and dept.deptName != ''">
      and dept_name like concat('%', #{dept.deptName}, '%')
    </if>
    <if test="dept.status != null">
      and status = #{dept.status}
    </if>
    <!-- 数据范围过滤 -->
    ${dept.params.dataScope}
    order by parent_id, order_num
  </select>

  <select id="getById" resultType="com.wuyou.system.domain.SysDept">
    select d.*, (select dept_name from sys_dept where dept_id = d.parent_id) parent_name
    from sys_dept d
    where d.dept_id = #{deptId}
  </select>

  <select id="listChildrenById" resultType="com.wuyou.system.domain.SysDept">
    select *
    from sys_dept
    where find_in_set(#{deptId}, ancestors)
  </select>

  <select id="countNormalChildrenById" resultType="java.lang.Integer">
    select count(*)
    from sys_dept
    where status = 0
      and del_flag = 0
      and find_in_set(#{deptId}, ancestors)
  </select>

  <update id="updateChildren">
    update sys_dept set ancestors =
    <foreach collection="depts" item="item" index="index" separator=" " open="case dept_id" close="end">
      when #{item.deptId} then #{item.ancestors}
    </foreach>
    where dept_id in
    <foreach collection="depts" item="item" index="index" separator="," open="(" close=")">
      #{item.deptId}
    </foreach>
  </update>

  <update id="updateStatus">
    update sys_dept
    <set>
      <if test="status != null">status = #{status},</if>
      <if test="updateBy != null and updateBy != ''">update_by = #{updateBy},</if>
      update_time = sysdate()
    </set>
    where dept_id in (${ancestors})
  </update>

</mapper> 