<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wuyou.system.mapper.SysLogininforMapper">

  <select id="page" resultType="com.wuyou.system.domain.SysLogininfor">
    select sl.* from sys_logininfor sl
    <where>
      <if test="logininfor.ipaddr != null and logininfor.ipaddr != ''">
        and sl.ipaddr like concat('%', #{logininfor.ipaddr}, '%')
      </if>
      <if test="logininfor.status != null">
        and sl.status = #{logininfor.status}
      </if>
      <if test="logininfor.loginName != null and logininfor.loginName != ''">
        and sl.login_name like concat('%', #{logininfor.loginName}, '%')
      </if>
      <if test="logininfor.params.beginTime != null and logininfor.params.beginTime != ''"><!-- 开始时间检索 -->
        and sl.date_format(login_time,'%y%m%d') &gt;= date_format(#{logininfor.params.beginTime},'%y%m%d')
      </if>
      <if test="logininfor.params.endTime != null and logininfor.params.endTime != ''"><!-- 结束时间检索 -->
        and sl.date_format(login_time,'%y%m%d') &lt;= date_format(#{logininfor.params.endTime},'%y%m%d')
      </if>
    </where>
  </select>

  <update id="cleanLogininfor">
    truncate table sys_logininfor
  </update>

</mapper> 