<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wuyou.quartz.mapper.SysJobMapper">

  <select id="page" resultType="com.wuyou.quartz.domain.SysJob">
    select sj.* from sys_job sj
    <where>
      <if test="job.jobName != null and job.jobName != ''">
        and sj.job_name like concat('%', #{job.jobName}, '%')
      </if>
      <if test="job.jobGroup != null and job.jobGroup != ''">
        and sj.job_group = #{job.jobGroup}
      </if>
      <if test="job.status != null and job.status != ''">
        and sj.status = #{job.status}
      </if>
      <if test="job.invokeTarget != null and job.invokeTarget != ''">
        and sj.invoke_target like concat('%', #{job.invokeTarget}, '%')
      </if>
    </where>
  </select>
</mapper> 