<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wuyou.quartz.mapper.SysJobLogMapper">

  <select id="page" resultType="com.wuyou.quartz.domain.SysJobLog">
    select sjl.* from sys_job_log sjl
    <where>
      <if test="jobLog.jobName != null and jobLog.jobName != ''">
        and sjl.job_name like concat('%', #{jobLog.jobName}, '%')
      </if>
      <if test="jobLog.jobGroup != null and jobLog.jobGroup != ''">
        and sjl.job_group = #{jobLog.jobGroup}
      </if>
      <if test="jobLog.status != null and jobLog.status != ''">
        and sjl.status = #{jobLog.status}
      </if>
      <if test="jobLog.invokeTarget != null and jobLog.invokeTarget != ''">
        and sjl.invoke_target like concat('%', #{jobLog.invokeTarget}, '%')
      </if>
      <if test="jobLog.params.beginTime != null and jobLog.params.beginTime != ''"><!-- 开始时间检索 -->
        and sjl.date_format(create_time, '%y%m%d') &gt;= date_format(#{jobLog.params.beginTime}, '%y%m%d')
      </if>
      <if test="jobLog.params.endTime != null and jobLog.params.endTime != ''"><!-- 结束时间检索 -->
        and sjl.date_format(create_time, '%y%m%d') &lt;= date_format(#{jobLog.params.endTime}, '%y%m%d')
      </if>
    </where>
  </select>

  <update id="cleanJobLog">
    truncate table sys_job_log
  </update>
</mapper> 